{% from 'macros/button.html' import button %}

<!DOCTYPE html>
<html>
<head>
<title>Tlačítko v HTML 2.1</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/event-header.js"></script>
    <!-- <script src="https://unpkg.com/hx"></script> -->
</head>
<body>

<h2 id="nadpis_1">Tlačítko v HTML 2.6</h2>

<!-- <button onclick="sendRequest()">Klikněte zde</button> -->
{{ button('franta', 'nazev tlacitka', 'nadpis_1') }}
<button hx-get="/button/pepa" hx-trigger="click, mouseover" hx-vals='{"my_val": "My Value"}' hx-ext="event-header" hx-target="#nadpis_1">click or mouseover</button>

<!-- <script>
function sendRequest() {
  fetch('/data')
    .then(response => response.json())
    .then(data => {
      console.log(data);
    })
    .catch(error => {
      // Zde můžete zachytit chyby, které se mohou vyskytnout při provádění požadavku
      console.error('Chyba:', error);
    });
}
</script> -->

</body>
</html>
